---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("June 03 2025")}
  heroImage="/karina.gif"
>
  <p>
    I am a web developer with many interests on the side. I like reading,
    watching movies, listening to music and playing vidya. However, my true
    passion is the Internet ant the technological and cultural aspects of it. I
    believe the Internet is a gateway to divinity and through getting lost in it
    one can reach enlightenment.
  </p>
</Layout>
