---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <span id="emoji"></span>
      <blockquote
        cite="https://www.amazon.com.mx/El-Aleph-Jorge-Luis-Borges-ebook/dp/B07SSHG2J1"
      >
        <p>
          Como Cornelio Agrippa, soy dios, soy héroe, soy filosófo, soy demonio
          y soy mundo, lo cual es una fatigosa manera de decir que no soy.
        </p>
      </blockquote>
      <p>&mdash; Jorge Luis Borge, <cite>El immortal</cite></p>
    </main>
    <Footer />
  </body>
</html>
